:root {
  --primary-color: Centra No2, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif;
}

body {
  margin: 0;
}
nav {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  height: 4.4rem;
  z-index: 1000;
}
.image-logo img {
  width: 13rem;
}
.image-logo {
  padding-left: 12rem;
  padding-right: 17rem;
  padding-top: 1.4rem;
}
.download-app div {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border: 1px solid #cfcfcf;
  border-radius: 1rem;
  font-size: 14.5px;
  font-family: Centra No2, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
svg {
  width: 17px;
}
.nav-bar a {
  text-decoration: none;
  color: #191e3b;
  font-weight: 500;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  gap: 1.3rem;
  justify-content: space-between;
  align-items: center;
  font-size: 14.5px;
  font-family: Centra No2, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
}
.container-1 {
  position: relative;
}

#background-image-hero {
  width: 100%;
  height: 35.5rem;
  object-fit: cover;
  position: absolute;
  filter: brightness(60%);
  z-index: -1;
}
.hero-section {
  margin-top: 14rem;
}
.hero-section .hero-para {
  color: #ffffff;
  font-family: "Lardent Pro Slab", Georgia, Times, "Times New Roman", serif;
  font-weight: 400;
  font-size: 36px;
  margin-left: 15rem;
}
.seek-container {
  font-family: Centra No2, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  width: fit-content;
  height: 4rem;
  border-radius: 0.8rem;
  align-items: center;
  padding-right: 1rem;
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 10;
}

.seek-container button {
  background-color: #0e66eb;
  border-style: none;
  color: #ffffff;
  width: 4rem;
  height: 2.9rem;
  border-radius: 2rem;
  font-size: 2ch;
  margin-left: 1rem;
  font-weight: bold;
}

.seek-person div,
.seek-calendar div {
  line-height: 0.1rem;
}

.seek-location,
.seek-calendar,
.seek-person {
  display: flex;
  width: fit-content;
  height: 2.9rem;
  padding-left: 1rem;
  padding-right: 10rem;
  margin-left: 1rem;
  border-radius: 0.5rem;
  border: 0.5px solid #bbb6b6;
}

.container-2 {
  margin-top: 15rem;
  font-family: var(--primary-font);
}

.register-subcontainer {
  background-color: rgb(26, 26, 73);
  width: 67rem;
  border-radius: 1rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  height: 4.5rem;
  padding-left: 1rem;
  position: relative;
  margin: 0 auto;
}
.container-2 .register-subcontainer p {
  font-size: 16px;
  color: #ffffff;
  font-family: Centra No2, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  font-weight: 500;
}
.container-2 .register-subcontainer button {
  background-color: #0e66eb;
  border-style: none;
  color: #ffffff;
  width: 4.5rem;
  height: 2.1rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.5ch;
  font-family: Centra No2, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif;
  position: absolute;
  right: 1rem;
}
.register-icon {
  background-color: #9ec4eb;
  width: fit-content;
  padding: 0.65rem;
  border-radius: 2rem;
}
.accommodation-container h2 {
  font-size: 27px;
  color: #191e3b;
  font-family: var(--primary-color);
  font-weight: 500;
}
.accommodation-images img {
  border-radius: 1rem;
  height: 17rem;
  position: relative;
}
.accommodation-container {
  padding-top: 1rem;
}

.accommodation-images {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.accommodation-images p {
  position: absolute;
  top: 66.8rem;
  padding-left: 0.4rem;
  font-family: var(--primary-color);
  color: #ffffff;
  font-weight: 500;
  width: fit-content;
}
.accommodation-container-wrap {
  margin-left: 13.5rem;
}
